{{- $fullName := promptStringOnce . "fullName" "Full name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}

encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1v5k8cgk77hk7rqnsw0whzdqcpjm65wrm8hma2n9hc2unsadzea5q9atky3"

[data]
    email = {{ $email | quote }}
    fullName = {{ $fullName | quote }}

[hooks.read-source-state.pre]
	command=".local/share/chezmoi/scripts/00-install-package-manager.sh"
