# This is zenv file. It is always sourced during login.
# It should contain exported variables that should be available to other programs.
# Environment variables are set here
# Eg: $PATH, $EDITOR etc.
# But all $PATH related changes are in .zprofile because of MacOS specific issue

# Default Programs
export EDITOR="nvim"
export BROWSER="brave"
export TERMINAL="alacritty"
export READER=""
export FILE=""

# Cleanup
export ZDOTDIR="$HOME/.config/zsh"
export LESSHISTFILE="-"
export XDG_CACHE_HOME="$HOME/.extras/.cache"
export STARSHIP_CACHE="$HOME/.extras/.cache"
export ZSH="$HOME/.config/zsh/.oh-my-zsh" # Path to my oh-my-zsh installations
export TLDR_CACHE_DIR="$XDG_CACHE_HOME"
export CARGO_HOME="$HOME/.extras/.cargo"
export RUSTUP_HOME="$HOME/.extras/.rustup"
export DOCKER_CONFIG="$HOME/.extras/.docker" # This won't work on Mac because of docker desktop, as it won't source this file
export GEM_HOME="$HOME/.extras/.gem"
export GEM_PATH="$HOME/.extras/.gem"
export TERMINFO_DIRS="$HOME/.extras/.terminfo"
export NVM_DIR="$HOME/.local/share/nvm"
export GOPATH="$HOME/.local/share/go"
export PYENV_ROOT="$HOME/.pyenv"

# Set JDK installation directory according to selected Java compiler
# https://stackoverflow.com/a/29622512/6740339
# {{ if eq .chezmoi.os "linux" }}
export JAVA_HOME=$(readlink -f /usr/bin/javac | sed "s:/bin/javac::")
# {{ else if eq .chezmoi.os "darwin" }}
export JAVA_HOME=$(/usr/libexec/java_home -v 21)
# {{ end }}

# For compilers to find ruby you may need to set:
export LDFLAGS="-L/opt/homebrew/opt/ruby/lib"
export CPPFLAGS="-I/opt/homebrew/opt/ruby/include"

# For pkg-config to find ruby:
export PKG_CONFIG_PATH="/opt/homebrew/opt/ruby/lib/pkgconfig"

# Define Android sdk root

# {{ if eq .chezmoi.os "darwin" }}
export ANDROID_SDK_ROOT="$HOME/Library/Android/sdk/"
export ANDROID_HOME="$HOME/Library/Android/sdk/"
# {{ else if eq .chezmoi.os "linux" }}
export ANDROID_SDK_ROOT="$HOME/Android/Sdk"
export ANDROID_HOME="$HOME/Android/Sdk"
# {{ end }}

export SDKMAN_DIR="$HOME/.sdkman"

