#! /usr/bin/env bash

set -eufo pipefail

declare GREEN='\033[0;32m'
declare RED='\033[0;31m'
declare YELLOW='\033[0;33m'
declare NOCOLOR='\033[0m'

{{ template "print_running_file" . }}

if [ ! "$(command -v ggshield)" ]; then
	echo -e "${RED}Make sure that 'ggshield' is installed. Maybe this script ran before install packages script?${NOCOLOR}\n"
	exit 1
fi

echo -e "${GREEN}This will now setup ggshield for security scanning on the local instance of your chezmoi repo.${NOCOLOR}\n" 

ggshield auth login --method=token

cd "${CHEZMOI_WORKING_TREE:-~/.local/share/chezmoi}"

ggshield install --force --mode local
