#! /usr/bin/env bash

# {{ template "scripts-library" }}

true || source ../../.chezmoitemplates/scripts-library

if ! command -v ggshield > /dev/null; then
    error "Make sure that 'ggshield' is installed. Maybe this script ran before packages install?"
fi

log_info "This will now setup 'ggshield' for security scanning of the local instance of your chezmoi repo."

ggshield auth login --method=token

cd "${CHEZMOI_WORKING_TREE:-~/.local/share/chezmoi}"

ggshield install --force --mode local

log_success "'ggshield' installation done. Setup complete."
