#! /usr/bin/env bash

# {{ template "scripts-library" }}

true || source ../../.chezmoitemplates/scripts-library

print_running_file

# Bitwarden
if ! command -v bw > /dev/null; then
    error "Could not find bitwarden-cli (bw)"
fi

declare bw_session
bw_session="${BW_SESSION:-}"
if [[ -n "${bw_session}" ]]; then
    log_success "Bitwarden's session already exists"
    exit 0
fi

# Explicitly logout
bw logout || true
bw_session="$(bw login --raw)"
declare session_export="export BW_SESSION='${bw_session}'"

# Do everything possible to not have to unlock bitwarden vault each time you read
mkdir -p "{{ .dirs.zshCustom }}"
declare bw_session_script="{{ .dirs.zshCustom }}/99_bw-session-export.zsh"
echo "${session_export}" >> "${bw_session_script}"
# shellcheck source=/dev/null
source "${bw_session_script}"
(command -v omz > /dev/null) && omz reload

log_warning "You may still need to export BW_SESSION or unlock bitwarden vault manually."
eval "${session_export}"
log_success "Bitwarden session export done"
